/* Coolors Exported Palette - https://coolors.co/fbfbfb-ded7d8-f5f6f7-d5bfa6-85573a */

/* CSS HEX */
--white: #FBFBFBff;
--timberwolf: #DED7D8ff;
--antiflash-white: #F5F6F7ff;
--dun: #D5BFA6ff;
--raw-umber: #85573Aff;

/* CSS HSL */
--white: hsla(0, 0%, 98%, 1);
--timberwolf: hsla(351, 10%, 86%, 1);
--antiflash-white: hsla(210, 11%, 96%, 1);
--dun: hsla(32, 36%, 74%, 1);
--raw-umber: hsla(23, 39%, 37%, 1);

/* SCSS HEX */
$white: #FBFBFBff;
$timberwolf: #DED7D8ff;
$antiflash-white: #F5F6F7ff;
$dun: #D5BFA6ff;
$raw-umber: #85573Aff;

/* SCSS HSL */
$white: hsla(0, 0%, 98%, 1);
$timberwolf: hsla(351, 10%, 86%, 1);
$antiflash-white: hsla(210, 11%, 96%, 1);
$dun: hsla(32, 36%, 74%, 1);
$raw-umber: hsla(23, 39%, 37%, 1);

/* SCSS RGB */
$white: rgba(251, 251, 251, 1);
$timberwolf: rgba(222, 215, 216, 1);
$antiflash-white: rgba(245, 246, 247, 1);
$dun: rgba(213, 191, 166, 1);
$raw-umber: rgba(133, 87, 58, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-right: linear-gradient(90deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-bottom: linear-gradient(180deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-left: linear-gradient(270deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-top-right: linear-gradient(45deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-bottom-right: linear-gradient(135deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-top-left: linear-gradient(225deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-bottom-left: linear-gradient(315deg, #FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);
$gradient-radial: radial-gradient(#FBFBFBff, #DED7D8ff, #F5F6F7ff, #D5BFA6ff, #85573Aff);